In [10]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""


print(medical_data)

Marina Allison   ,27   ,   31.1 ,
#7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43
,   25.3 , #12060.0 ;Darnell Weber
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1
,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   ,
29.3 ,#16330.0;   Andre Mccarty,
19,22.7 , #2900.0 ;
Lorena Hodson ,65, 33.1 , #19370.0;
Isaac Vu ,34, 24.8,   #7045.0

In [12]:
updated_medical_data = medical_data.replace("#","$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

In [14]:
num_records = 0
for char in updated_medical_data:
    if char == "$":
        num_records += 1

In [15]:
print("There are " + str(num_records) + " medical records in the data.")

There are 10 medical records in the data.

In [17]:
medical_data_split = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

medical_records = []

In [18]:
for record in medical_data_split:
    medical_records.append(record.split(','))
print(medical_records)

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '], ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '], ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '], ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'], ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '], ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '], ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'], ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '], [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'], [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

In [22]:
medical_records_clean = []

In [23]:
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)

In [24]:
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

In [25]:
#Prints out the names of each of the ten individuals
for record in medical_records_clean:
    print(record[0])

Marina Allison
Markus Valdez
Connie Ballard
Darnell Weber
Sylvie Charles
Vinay Padilla
Meredith Santiago
Andre Mccarty
Lorena Hodson
Isaac Vu

In [26]:
for record in medical_records_clean:
    record[0] = record[0].upper()
    print(record[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

In [29]:
names =[]
ages = []
bmis = []
insurance_costs = []

In [30]:
for record in medical_records_clean:
    names.append(record[0])
    ages.append(record[1])
    bmis.append(record[2])
    insurance_costs.append(record[3])

In [33]:
total_bmi = 0
for bmi in bmis:
    total_bmi += float(bmi)

In [34]:
average_bmi = total_bmi / len(bmis)
print(average_bmi)

25.830000000000002