In [8]:
#names list stores the names of ten individuals
#insurance_costs list stores their medical insurance costs
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

In [14]:
#combines insurance_costs and names into a list
medical_records = list(zip(insurance_costs, names))
print(medical_records)

[(13262.0, 'Mohamed'), (4816.0, 'Sara'), (6839.0, 'Xia'), (5054.0, 'Paul'), (14724.0, 'Valentina'), (5360.0, 'Jide'), (7640.0, 'Aaron'), (6072.0, 'Emily'), (2750.0, 'Nikita'), (12064.0, 'Paul')]

In [15]:
#length of the medical_records
num_medical_records = len(medical_records)
print(num_medical_records)

10

In [17]:
print("There are " + str(num_medical_records) + " medical records.")

There are 10 medical records.

In [20]:
#stores the first_medical_record
first_medical_record = medical_records[0]
print("Here is the first medical record: " + str(first_medical_record
))

Here is the first medical record: (13262.0, 'Mohamed')

In [21]:
#sorts medical_records from the lowest insurance costs to the highest
medical_records.sort()
print("Here are the medical records sorted by insurance cost: " +str(medical_records))

Here are the medical records sorted by insurance cost: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul'), (5360.0, 'Jide'), (6072.0, 'Emily'), (6839.0, 'Xia'), (7640.0, 'Aaron'), (12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [26]:
#Three cheapest insurance costs 
cheapest_three = medical_records[:3]
print("Here are the three cheapest insurance costs in our medical records: " + str(cheapest_three))

Here are the three cheapest insurance costs in our medical records: [(2750.0, 'Nikita'), (4816.0, 'Sara'), (5054.0, 'Paul')]

In [27]:
#Top three priciest insurance costs
priciest_three = medical_records[-3:]
print("Here are the three most expensive insurance costs in our medical records: " + str(priciest_three))

Here are the three most expensive insurance costs in our medical records: [(12064.0, 'Paul'), (13262.0, 'Mohamed'), (14724.0, 'Valentina')]

In [29]:
# The number of occurrences of “Paul” in the names list
occurances_paul = names.count("Paul")
print("There are " + str(occurances_paul) + " individuals with the name Paul in our medical records.")

There are 2 individuals with the name Paul in our medical records.